@import './node_modules/drf.colors/lib/drf.color'
@import './src/heart'

*
  padding 0
  margin 0

body
  font-family 'Pompiere', sans-serif

header, section, footer
  padding 80px
  text-align center
  font-size 200%
  
a
  text-decoration none
  color white
  
  &:hover
    color gray
    border-bottom 1px solid gray

#heart
  font-size 800%
  background-color red
  color white
  
  .hrt_made
    font-weight normal
    
  .hrt_heart
    color white

#coffee
  font-size 300%
  background-color gray
  color white

  .hrt_heart
    color olive

#snowman
  font-size 300%
  background-color blue
  color white
  
  .hrt_heart
    color aqua
    
    
  .hrt_author
    a
      color navy
      font-size 200%
      border none

#music
  font-size 300%
  background-color yellow
  color gray

  .hrt_heart
    color gray

#react
  background-color #3a5795
  color white
  font-family "Lucida Grande", sans-serif
  
  .hrt_heart
    font-size 100%
    color #9daccb
  
  a 
    text-transform lowercase
    color white
    
    &:hover
      text-decoration: underline
      
.what-is
  font-size 16px
  background-color red
  color white
  text-align left
  font-family "Helvetica", Arial, sans-serif
  padding 40px 80px
  
code
  font-family "Currier New", monospace
  color black
  background-color white
  padding 5px
  display inline-block
  border-radius 2px
  
footer
  font-family "Helvetica", Arial, sans-serif
  font-size 24px
  background-color red
  color white
  padding 40px 0 0px
  
#made-with-love
  font-family 'Pompiere', sans-serif
  font-size 100%
  .hrt_heart
    color white